<div class="app">
  <p-toolbar>Dynamic Forms</p-toolbar>

  <section class="flex-wrapper">
    <section class="left-from">
      <p-accordion>
        <p-accordionTab header="dynamic form 1" [selected]="true">
          <app-form-gen
            [formData]="formData1"
            (formValue)="onReceiveChange($event)"
            (formValidation)="onFormValidationChange($event)"
            (formIsValid)="onFormValidated($event)">
          </app-form-gen>
          <button pButton [disabled]="!formIsValid" label="submit"></button>
        </p-accordionTab>
      </p-accordion>
    </section>
    <section class="middle-form">
        <p-accordion>
        <p-accordionTab header="dynamic form2" [selected]="true">
          <app-form-gen
            [formData]="formData2"
            (formValue)="onReceiveChange($event)"
            (formValidation)="onFormValidationChange($event)"
            (formIsValid)="onFormValidated($event)">
          </app-form-gen>
          <button pButton [disabled]="!formIsValid" label="submit"></button>
        </p-accordionTab>
      </p-accordion>
    </section>
    <section class="right-form">
      <div>
        <h4>values</h4>
      </div>
      <pre>
{{formValue | json}}
      </pre>
      <div>
        <h4>validation</h4>
      </div>
      <pre>
{{formValid | json}}
      </pre>
    </section>
  </section>
</div>
